body{
    margin : 0;
    padding : 0;
  }
  header{
    background-color : gray;
  }
  nav ul{
    display : flex;
    margin : 0;
    padding : 0;
  }
  ul{
    list-style-type : disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
  }
  nav ul li{
    list-style : none;
    padding : 15px;
  }
  li{
    display : list-item;
    text-align : -webkit-match-parent;
  }
  nav a{
    text-decoration : none;
    color: white;
  }
  header a:hover{
    background-color: pink;
    letter-spacing : 4px;
    transition : 2s 1s;
  }
  h1{
   margin-block-start: 0.67em;
   margin-block-end: 0.67em;
   margin-inline-start: 0px;
   margin-inline-end: 0px;
   font-weight: bold;
  }
  #name{
    font-size: 48px;
      font-family: "Gothic A1", sans-serif;
      margin: 20px 0;
  }
  
  .profile{
   width: 320px;
   height: 320px;
   overflow: hidden;
  }
  img{
      overflow-clip-margin: content-box;
      overflow: clip;
    transition : all 0.2s linear;
  }
  img:hover{
    transform : scale(1.4);
  }
  #cv{
      display : grid;
      grid-template-columns: 1fr 1fr;
  }
  
  .sub-title{
    font-size: 32px;
    font-family: "Gothic A1", sans-serif;
    margin: 30px 0 10px 0;
  }
  h3{
    margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      font-weight: bold;
  }
  strong{
    font-weight: bold;
  }
  main{
    padding :32px;
  }
  footer{
    background-color :lightgray;
    padding : 40px;
  }
  footer ul{
    list-style : none;
  }
  footer ul li{
    margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
  }